<div id="admin_area">
		<h4>Ciao Raffaele!</h4>
		<br />
		<ul>
			<li><a href="/admin">Admin Area</a> |</li>
			<li><%= link_to 'Show Activities', :controller => :activities %> |</li>
			<li><%= link_to 'Show Categories', :controller => :categories %> |</li>
			<li><%= link_to 'Show News', :controller => :news %> |</li>
			<li><%= link_to 'Logout', :controller => :sessions, :action => :destroy %> </li>
		</ul>
		
		
			
	</div> <!-- /admin_area -->