<div id="footer_link">
				<a href="http://www.youtube.com/user/jesoloimpresa"><img src="/images/youtube.png" /></a>
				<a href="http://jesoloimpresa.blogspot.com/"><img src="/images/blogger.png" /></a>
				<a href="http://it-it.facebook.com/jesoloimpresa.it"><img src="/images/facebook.png" /></a>
				<a href="http://twitter.com/jesoloimpresa"><img src="/images/twitter.png" /></a>
				<a href="mailto:jesoloimpresa@googlewave.com"><img src="/images/google_wave.png" /></a>
			</div> <!-- /footer_link -->	
			
			<div id="footer_text">

			</div> <!-- /footer_text -->